.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
  background: #595656;
}

.board {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(9, 32px);
  margin-top: 10px;
  background: #b2b2b2;

  /* border-color: #fff #7b7b7b #7b7b7b #fff; */
  border-color: #7b7b7b #fff #fff #7b7b7b;
  border-style: solid;
  border-width: 3px;
}

.cell {
  width: 32px;
  height: 32px;
  font-size: 0.3rem;
  cursor: pointer;
  user-select: none;
  background: url('~/src/assets/images/icons.png') no-repeat;
  border-color: #7b7b7b;
  border-style: solid;
  border-width: 1px;
}

.hiddenCell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  font-size: 0.3rem;
  cursor: pointer;
  user-select: none;
  background: url('~/src/assets/images/icons.png') no-repeat;
  border-color: #fff #7b7b7b #7b7b7b #fff;
  border-style: solid;
  border-width: 3px;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background: #b2b2b2;
  border-color: #fff #7b7b7b #7b7b7b #fff;
  border-style: solid;
  border-width: 3px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  justify-content: space-between;
  width: 100%;
  padding: 4px;
  background: #b2b2b2;
  border-color: #7b7b7b #fff #fff #7b7b7b;
  border-style: solid;
  border-width: 3px;
}

.smiley {
  width: 36px;
  height: 36px;
  background: url('~/src/assets/images/icons.png') no-repeat;
  background-position: -330px 0;
  border-color: #fff #7b7b7b #7b7b7b #fff;
  border-style: solid;
  border-width: 3px;
}

.ndisp {
  width: 72px;
  height: 36px;
  background: black;
  border-color: #7b7b7b #fff #fff #7b7b7b;
  border-style: solid;
}
