.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #191a1b;
}

.customOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.3rem 0 0.3rem 0.3rem;
}

.fields {
  display: flex;
  gap: 10px;
  margin-left: 10px;
}

.item {
  display: flex;
  align-items: center;
}

.item label {
  margin-right: 10px;
  color: white;
}

.item input[type='number'] {
  width: 3rem;
}

.customOptions > button {
  font-size: 1rem;
  color: skyblue;
  cursor: pointer;
  background: none;
  border: none;
}

.customOptions button:hover {
  color: white;
}

.applyButton {
  color: white;
  background: gray;
  border: none;
  border-radius: 5px;
}

.applyButton:hover {
  background: lightgray;
}

.errorMessages {
  display: flex;
  gap: 10px;
  color: rgb(255 128 128);
  text-align: center;
}

.customOptionContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 0.3rem 0 0.3rem 0.3rem;
}

.board {
  box-sizing: border-box;
  display: grid;
  width: max-content;
  margin-top: 10px;
  background: #b2b2b2;

  /* border-color: #fff #7b7b7b #7b7b7b #fff; */
  border-color: #7b7b7b #fff #fff #7b7b7b;
  border-style: solid;
  border-width: 3px;
}

.cell {
  width: 32px;
  height: 32px;
  user-select: none;
  background: url('~/src/assets/images/icons.png') no-repeat;
  background-position-y: center;
  border-color: #7b7b7b;
  border-style: solid;
  border-width: 1px;
}

.hiddenCell {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  font-size: 0.3rem;
  cursor: pointer;
  user-select: none;
  background: url('~/src/assets/images/icons.png') no-repeat;
  background-position-y: center;
  border-color: #fff #7b7b7b #7b7b7b #fff;
  border-style: solid;
  border-width: 3px;
}

.hiddenCell:active {
  border-color: #7b7b7b #fff #fff #7b7b7b;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  margin: auto;
  overflow: auto;
  background: #b2b2b2;
  border-color: #fff #7b7b7b #7b7b7b #fff;
  border-style: solid;
  border-width: 3px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  justify-content: space-between;
  width: 100%;
  padding: 4px;
  background: #b2b2b2;
  border-color: #7b7b7b #fff #fff #7b7b7b;
  border-style: solid;
  border-width: 3px;
}

.smiley {
  width: 36px;
  height: 36px;
  background: url('~/src/assets/images/icons.png') no-repeat;
  background-position: -330px center;
  border-color: #fff #7b7b7b #7b7b7b #fff;
  border-style: solid;
  border-width: 3px;
}

.smiley:active {
  border-color: #7b7b7b #fff #fff #7b7b7b;
}

.ndisp {
  width: 72px;
  height: 36px;
  font-size: 1.6rem;
  line-height: 33px;
  color: red;
  text-align: center;
  background: black;
  border-color: #7b7b7b #fff #fff #7b7b7b;
  border-style: solid;
}
